<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>About Word Statistics App</title>
</head>
<body>
    <div class="container">
        <h1>О приложении Статистика Слов</h1>
        <p>
            Добро пожаловать в веб-приложение Статистика Слов! Это приложение предоставляет удобный способ анализа структуры и содержания страниц Википедии. Просто введите заголовок страницы, и приложение соберет данные, проанализирует статистику слов и визуализирует результаты.
        </p>
        <h2>
            Ключевые особенности:
        </h2>
        <div class="container">
            <ul>
                <li>Общая информация: Просматривайте общее количество слов на странице и получайте представление о её содержании.</li>
                <li>Анализ разделов: Узнайте среднее количество слов в каждом разделе страницы, что поможет вам лучше понять её структуру.</li>
                <li>Анализ абзацев: Изучайте среднее количество слов в абзацах, что позволяет быстро выделить ключевые моменты и детали информации.</li>
                <li>Визуализация данных: Графики обеспечивают наглядное представление статистики, делая процесс анализа более интересным и понятным.</li>
            </ul>
        </div>
        <p>
            Просто введите заголовок страницы на домашней странице, отправьте форму, и вы получите детальный анализ и визуализацию статистики слов. Приложение Статистика Слов - ваш надежный помощник в изучении содержания Википедии!
        </p>
        <a href="/">Вернуться на Главную</a>
    </div>
</body>
</html>
